/* CSS FOR OUR APPLICATION FOR OUR COMPONENTS AND SUCH */

/* so cant resize message text box */
.resize-none {
    resize: none;
  }


  .col-lg-6 .text{
    font-size: 2px !important;
  }

  /* .overlay{ */
    /* text-decoration: none !important; */
  /* } */

/* 
  h1.text{
    text-decoration: none !important;
  } */


  .col-lg-7 .text{
    /* font-size: 2px !important; */
    text-decoration: border  !important;
  }



  .image-container {
    position: relative;
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}