/* index.css is global stylesheet sets basic styles for our application  */

body {
  margin: 0 !important;
  /* cursive */
  /* font-family: 'Open Sans',  !important; */
  /* font-family: 'Honk', system-ui !important;
   */
   font-family: 'Single Day', cursive !important;
  /* 103, 180, 224 */
  color : rgb(0, 0, 0) !important;
  background-color: #B1D64B !important;; 
}

