/* index.css is global stylesheet sets basic styles for our application  */

body {
  margin: 0 !important;
  font-family: 'Indie Flower', cursive !important;
  /* 103, 180, 224 */
  background-color: rgb(133, 150, 200) !important;; 
}

