// .contact_wrapper svg {
//   font-size: 1em;
//   vertical-align: middle;
//   margin-right: 5px;
// }

// .contact-form {
//   padding-top: 20px;

//   button {
//     float: right;
//     background-color: white;
//     color: #050f0b;
//   }

//   button:hover {
//     background-color: #5000ca;
//     color: white;
//   }

//   fieldset {
//     background-color: white;
//   }
// }

// label {
//   font-size: 1.2rem;
//   font-family: 'DomaineDispNar-Medium', sans-serif;
// }

// .form-flex {
//   display: flex;
//   gap: 15px;
//   padding-bottom: 15px;
// }

// .form-flex .MuiFormControl-root {
//   width: 100%;
// }

// form {
//   width: 100% !important;
// }

// .body-form {
//   width: 100% !important;
//   margin-bottom: 15px !important;
// }


#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  padding: 100px 20px; // adjust spacing if needed
  background-color: #6a8caf; // optional

  .contact-container {
    max-width: 600px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 20px;
    }

    .contact-email {
      font-weight: bold;
      font-size: 1.2rem;

      a {
        text-decoration: none;
        color: #5000ca; // your theme color
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
